version: '3.8'

services:
  # 1. Prefect 서버 (관리 본부)
  note-mng-prefect-server:
    # '3.0' 대신 최신 버전인 '3.6' 또는 'latest'를 사용하세요
    image: prefecthq/prefect:3.6-python3.12
    container_name: note_mng_prefect_server
    command: prefect server start --host 0.0.0.0
    ports:
      - "4200:4200" # 윈도우 브라우저에서 UI 접속 가능하게 연결
    environment:
      - PREFECT_API_URL=http://127.0.0.1:4200/api

  # 2. 내 코드 실행기 (개발용 컨테이너)
  note-mng-app:
    build: .
    container_name: note_mng_dev_container
    volumes:
      - .:/app
    environment:
      - PREFECT_API_URL=http://prefect-server:4200/api # 중요: 서비스 이름을 주소로 사용
    command: tail -f /dev/null
    depends_on:
      - prefect-server